.productHead {
  margin: 2rem auto;
  text-align: center;
}

.toggle-product {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto;  
}

.link-product {
  margin: 0 1rem;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  transition: 0.6s ease;
 
}

.link-product:hover {
  text-decoration: underline;
}

.link-product.active {
  transition: 0.6s ease;
  font-weight: 700;
  cursor: default;
  color: #5651e5;
}

.link-product.active:hover {
  text-decoration: none;
}



@media screen and (max-width:650px) {
  .link-product {
    font-size: 16px;
    margin: 0 0.6rem;
  }

}
